<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Веб-студия Николая Кошкина</title>
    <meta name="description" content="" />
    <meta name="csrf-token" content="wN23Ozwhkr6zgykJ3fMuy6WczhO1p7U658D1A0kaLzr6PCqaIqB2HgYnkneo04FK">
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/css/main.css?03" type="text/css" />
    <script>
        WebFontConfig = {
            google: {
                families: ['PT+Sans:400:cyrillic', 'Roboto:900,500,700,400,300:cyrillic']
            }
        };
        (function (d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

</head>

<body>
    <header class="header header__absolute">
        <div class="container">
            <div class="header__logo">
                <div class="header__logo-text-1">Веб-студия</div>
                <div class="header__logo-text-2">Николая Кошкина</div>
            </div>
            <div class="header__callback">
                <span data-modal-target="modal__id-lead" class="">Оставить запрос</span>
            </div>
        </div>
    </header>
    <div class="box-start">

        <div class="container">
            <div class="box-start__overlay">

                <div class="box-start__line-1"></div>
                <div class="box-start__line-2"></div>
                <div class="box-start__line-3"></div>
                <div class="box-start__line-4"></div>
                <div class="box-start__line-5"></div>

                <div class="box-start__z-index">
                    <div class="box-start__flex-container">
                        <div class="box-start__text-1">Веб-разработка
                            <div class="box-start__text-2">интеграции
                                <br> дизайн
                                <br> программирование</div>
                        </div>
                        <div class="box-start__text-footer">профессиональная разработка сайтов</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-offer__wrap">
        <div class="container">
            <div class="box-offer">
                <div class="box-offer__vert-title">
                    <div>Оффер</div>
                </div>
                <div class="box-offer__title-wrap">
                    <h2 class="box-offer__title">Делаем
                        <br> сайты
                        <br>
                        <span>на django</span>
                    </h2>
                    <div class="box-offer__title-desc">по цене обычной CMS</div>
                </div>
                <div class="box-offer__tringle-wrap">
                    <div class="box-offer__tringle">
                        <div class="box-offer__tringle-dib">
                            <img src="/static/img/bem/box-offer/test.jpg" alt="">
                            <div class="box-offer__tringle-line-1"></div>
                            <div class="box-offer__tringle-line-2"></div>
                            <div class="box-offer__tringle-line-3"></div>

                            <div class="box-offer__line-1"></div>
                            <div class="box-offer__line-2"></div>
                            <div class="box-offer__line-3"></div>
                        </div>
                    </div>
                    <div class="box-offer__card-1">
                        <div class="box-offer__card-1-title">Без менеджеров</div>
                        <div class="box-offer__card-1-text">Вы общаетесь напрямую с собственником веб-студии. Гарантия профессионализма и личной ответствености.
                        </div>
                    </div>
                    <div class="box-offer__card-2">
                        <div class="box-offer__card-2-title">Техподдержка</div>
                        <div class="box-offer__card-2-text">Любой проект требует развития и доработок. Большинство мелких задач в течении 6 месяцев мы выполняем
                            бесплатно, на сложные задачи адекватное ценообразование.
                        </div>
                    </div>
                    <div class="box-offer__card-3">
                        <div class="box-offer__card-3-title">Без предоплат</div>
                        <div class="box-offer__card-3-text">Работаем без авансовых платежей. Проект разбивается на составные части (дизайн, верстка и т.д.) и
                            оплачивается уже готовый и принятый результат работы.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="footer" id="footer">
        <div class="container">
            <div class="footer__medium clearfix">
                <div class="footer__medium-left">
                    <div class="footer__contacts">
                        <div class="footer__contacts-row clearfix">
                            <div class="footer__contacts-col clearfix">
                                <div class="footer__contacts-col-left">
                                    <a class="footer__contacts-icon i-phone" href="tel:+79220241419"></a>
                                </div>
                                <div class="footer__contacts-col-right">
                                    <div class="footer__contacts-text-1">Телефон</div>
                                    <div class="footer__contacts-text-2">
                                        <a href="tel:+79220241419">+7 (922) 024-14-19</a>
                                    </div>
                                </div>
                            </div>
                            <div class="footer__contacts-col clearfix">
                                <div class="footer__contacts-col-left">
                                    <a class="footer__contacts-icon i-mail" href="mailto:koshkin.kna@yandex.ru"></a>
                                </div>
                                <div class="footer__contacts-col-right">
                                    <div class="footer__contacts-text-1">Почта</div>
                                    <div class="footer__contacts-text-2">
                                        <a href="mailto:koshkin.kna@yandex.ru">koshkin.kna@ya.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__medium-right">
                    <div class="footer__social-row clearfix">
                        <div class="footer__social-col">
                            <a target="_blank" class="footer__social-icon i-vk" href="https://vk.com/koshkin_n"></a>
                        </div>
                        <div class="footer__social-col">
                            <a target="_blank" class="footer__social-icon i-instagram" href="http://instagram.com/na.koshkin"></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer__bottom clearfix">
                <div class="footer__bottom-left">
                    <div class="footer__bottom-text-1">Copyright © 2018, koshkin-web.ru
                        <br>— Все права защищены</div>
                </div>
                <div class="footer__bottom-right">
                    <div class="footer__bottom-text-1">Вы принимаете условия
                        <span data-modal-target="modal__id-privacy">политики конфиденциальности</span> каждый раз, когда оставляете свои данные в любой форме обратной
                        связи на сайте koshkin-web.ru
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal modal__fullscreen" data-modal-id="modal__id-lead" data-modal-options="hashTracking: false, modifier: modal__fullscreen-class">
        <div class="container">
            <div class="callback">
                <button data-modal-action="close" class="callback__btn-close"></button>
                <div class="callback__title">Заказать звонок</div>
                <form method="POST" action="/save-to-lead/" class="callback__form">
                    <input type="hidden" name="type" value="callback (оставить заявку в шапке)">
                    <div class="callback__row clearfix">
                        <div class="callback__col">
                            <label>Телефон:</label>
                            <input type="tel" name="tel" class="form__input-mask-phone" placeholder="+7 (___) ___-__-__" required>
                        </div>
                        <div class="callback__col">
                            <button type="submit">Отправить</button>
                        </div>
                    </div>
                    <div class="callback__copyright">
                        Нажимая кнопку «Отправить», Вы соглашаетесь c правилами
                        <span data-modal-target="modal__id-privacy">политики конфиденциальности</span> компании.
                    </div>


                </form>

            </div>

        </div>
    </div>
    <div class="modal modal__small" data-modal-id="modal__id-succes" data-modal-options="hashTracking: false">
        <button data-modal-action="close" class="modal-close"></button>
        <div class="modal__title">
            <h3>Заявка отправлена</h3>
        </div>
        <div class="modal__title-desc">В ближайшее время мы с вами свяжемся!
        </div>
    </div>
    <div class="modal " data-modal-id="modal__id-privacy" data-modal-options="hashTracking: false">
        <button data-modal-action="close" class="modal-close"></button>
        <div class="modal__title">
            <h3>Политика конфиденциальности</h3>
        </div>


        <div class="style__1">


            <p>Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской
                Федерации.</p>

            <p>Все лица заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию
                обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору
                обработки персональных данных.</p>

            <p>Размещение заявки на сайте koshkin-web.ru означает Ваше согласие на обработку данных и дальнейшей передаче ваших
                контактных данных в компанию koshkin-web.ru. Под персональными данными подразумевается информация, относящаяся
                к субъекту персональных данных, в частности имя, контактные реквизиты (номер телефона) и иные данные, относимые
                Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных» к категории персональных данных.</p>

            <p>Целью обработки персональных данных является осуществление koshkin-web.ru продажи услуг, а также информирование
                об новостях и акциях компании koshkin-web.ru.</p>

            <p>Я согласен(а) с условиями предоставления услуги и готов(а) получать SMS-рассылку,&nbsp;Email-рассылку и рассылку
                в мессенджерах (Telegram), а так же рассылку в социальных сетях (vk.com)&nbsp;от компании koshkin-web.ru.
            </p>

            <p>Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их
                персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение,
                уточнение (обновление, изменение), использование, уничтожение.</p>

            <p>Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении
                информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих
                лиц; вся предоставленная информация заполнена Гражданина в отношении себя лично.
            </p>


        </div>
    </div>

    <script type="text/javascript" src="/static/js/main.js?03"></script>
</body>

</html>