.pt1h {
  padding-top: ($lh * 0.5rem);
}
.pt1 {
  padding-top: ($lh * 1rem);
}
.pt2h {
  padding-top: ($lh * 1.5rem);
}
.pt2 {
  padding-top: ($lh * 2rem);
}
.pt3h {
  padding-top: ($lh * 2.5rem);
}
.pt3 {
  padding-top: ($lh * 3rem);
}
.pt4h {
  padding-top: ($lh * 3.5rem);
}
.pt4 {
  padding-top: ($lh * 4rem);
}


.pb1h {
  padding-bottom: ($lh * 0.5rem);
}
.pb1 {
  padding-bottom: ($lh * 1rem);
}
.pb2h {
  padding-bottom: ($lh * 1.5rem);
}
.pb2 {
  padding-bottom: ($lh * 2rem);
}
.pb3h {
  padding-bottom: ($lh * 2.5rem);
}
.pb3 {
  padding-bottom: ($lh * 3rem);
}
.pb4h {
  padding-bottom: ($lh * 3.5rem);
}
.pb4 {
  padding-bottom: ($lh * 4rem);
}