
article {

  table {
    background-color: transparent;
  }
  caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777777;
    text-align: left;
  }
  th {
    text-align: left;
  }
  table {
    //width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
  }
  table {
    display: block;
    width: auto !important;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  table > thead > tr > th,
  table > tbody > tr > th,
  table > tfoot > tr > th,
  table > thead > tr > td,
  table > tbody > tr > td,
  table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    width: auto !important;
  }
  table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    font-weight: 700;
  }
  table > caption + thead > tr:first-child > th,
  table > colgroup + thead > tr:first-child > th,
  table > thead:first-child > tr:first-child > th,
  table > caption + thead > tr:first-child > td,
  table > colgroup + thead > tr:first-child > td,
  table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  table > tbody + tbody {
    border-top: 2px solid #dddddd;
  }
  table table {
    background-color: #ffffff;
  }
  table {
    //border: 1px solid #dddddd;
    border: none!important;
  }
  table > thead > tr > th,
  table > tbody > tr > th,
  table > tfoot > tr > th,
  table > thead > tr > td,
  table > tbody > tr > td,
  table > tfoot > tr > td {
    border: 1px solid #dddddd;
    //border: none;
  }
  table > thead > tr > th,
  table > thead > tr > td {
    border-bottom-width: 2px;
  }
  table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  table tbody + tbody {
    border-top: 2px solid #eceeef;
  }

  table table {
    background-color: #fff;
  }

  table {
    border: 1px solid #eceeef;
  }

  table th,
  table td {
    border: 1px solid #eceeef;
  }

  table thead th,
  table thead td {
    border-bottom-width: 2px;
  }

  table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  table {
    // border: 0;
  }
}

/*
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}*/