.form__group-submit {
  padding-top:5px;
  margin-bottom: 20px;
}

.form__group {
  margin-bottom: 20px;
  position: relative;
}

.form__input, .form__textarea {
  width: 100%;
  height: 60px;
  // border: 1px solid #c0c0c0;
  font-size: 15px;
  padding: 15px 0 0 0;
  border: none;
  background-color: #eceff1;
  border-bottom: 2px solid transparent;
  transition: border .2s ease-in-out, padding .2s ease-in-out, background .2s ease-in-out;
 border-radius: 0;
}


.form__label {
  position: absolute;
  left: 20px;
  top: 23px;
  color: #777;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  pointer-events: none;
  transition: all .2s ease-in-out;
}
.form__label-custom {
  font-weight: 400;
  font-style: italic;
  //font-size: 13px;
    color: #aaaaaa;
}

.form__group.is-focus {
  .form__label {
    transform: translateY(-16px);
    font-size: 13px;
    color: #aaaaaa;
    left: 0;
  }
  .form__input, .form__textarea {
    background-color: transparent;
    border-bottom: 2px solid $colorAccent;
  }
}

.form__group.is-value {
  .form__label {
    transform: translateY(-16px);
    font-size: 13px;
    color: #aaaaaa;
    left: 0;
  }
  .form__input, .form__textarea {
    background-color: transparent;
    border-bottom: 2px solid rgba(76, 175, 80, 0.9);
  }
}
.form__group.is-placeholder {
   .form__label {
    transform: translateY(-16px);
    font-size: 13px;
    color: #aaaaaa;
    left: 20px;
  }
  .form__input, .form__textarea  {
    padding-left: 20px;
  }
}
.form__group.is-placeholder.is-focus, .form__group.is-placeholder.is-value {
  .form__label {

    left: 0;
  }
  .form__input, .form__textarea  {
    padding-left: 0;
  }
}
.form__textarea {
  //height: 140px;
  padding-top: 26px;
  resize: vertical;
  padding-bottom: 10px;
  overflow: hidden;
}